<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mytube</a>
  

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/mytube">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a  href="/register" class="btn btn-info"  style="margin-right: 10px; color:white">Sign up</a>
        <a href="/login"  class="btn btn-info"  style="margin-right: 10px; color:white">Login</a>
        <a  href="/" class="btn btn-info"  style="margin-right: 10px; color:white">Logout</a>
    </form>
  </div>
</nav>
    